
/* Main Heading of meeting minutes*/
h1 {
  background-color: #556B2F;
  color: #FFF8DC;
}

/*Body of webpage (entirety of the page)*/
body {
  background-color: #FFF8DC;
  color: maroon;
}

/* Subheadings of meetings notes*/
h2 {
    background-color: #8B4513;
    color: #FFF8DC;
}