* {
  color: maroon;
}

/* Main Heading of meeting minutes*/
h1 {
  background-color: #556B2F;
  font-family: 'Poppins', sans-serif;
  color: #FFF8DC;
  font-size: 40px;
  text-align: center;
  display: block; /*headings should always be on a new line*/
}

/*Body of webpage (entirety of the page) */
body {
  background-color: #FFF8DC;
  color: maroon;
  margin: 10px;
  text-align: justify;
  max-width: 2000px;
  min-width: 10px;
  
}
body, p{
    font-size: 15px;
}
/*make background color tan  if on mobile*/
@media only screen and (max-width: 600px) {
  body {
    background-color: #D2B48C;
  }
}
/* Intro class has date, attendance, and agenda*/
.intro{
    border-width: 3px;
    border-style: solid;
    border-color: #8B4513;
    border-radius: 2%;
    padding: 2% 1% 2% 0%;
    margin: 5% 1% 5% 1%;
}

/* Subheadings of meetings notes*/
h2 {
    background-color: #8B4513;
    font-family: 'poppins', serif;
    color: #FFF8DC;
    font-size: 160%;
    text-decoration: underline #FFF8DC;
    text-align: center;
    height: 100%;
    width: 101%;

}
h3{
    font-size: 125%;
    position: relative;
    
}

#hide{
    display: none;
}

.help{
  position: fixed;
  right: 5px; 
  bottom: 0px;
  background-color: #5F9EA0;
  border-width: 3px;
  border-style: solid;
  border-color: #5F9EA0;
  border-radius: 5%;
  color: #FFF8DC;
}
.question{
  position: absolute;
  right: 5px; 
  bottom: 0px;
  background-color: #5F9EA0;
  border-width: 3px;
  border-style: solid;
  border-color: #5F9EA0;
  border-radius: 5%;
  color: #FFF8DC;
}

a:hover{
    color: hsl(0, 100%, 25%);
}

a[href="link"] {
  background-color: #5F9EA0;
}

button:active {
  background-color: maroon;
  color: whitesmoke;
}

#author{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;

}

#author h2{
    background-color: #556B2F;
}

#author > p {
    font-size: large;
}

.Brainstorming{
    display: grid;
    justify-items: stretch;
    gap: 20px 20px;
    align-items: center;
}

.description ~ img{
    width: max-content;
}

img + p {
    text-align: center ;
}

p.grid-item{
    font-size: large;
}








